# DAY11:- SETS

Sets are used to dtore multiple items in a single variable.
4 built-in Datatypes:-List,Tuple,Dictionary and Sets.

Set is a collection which is unordered,unchangeable and unindexed.

Everytime we call set items appear in a different order.
Set items are unchangeable i.e. we cannot change item but can add and delete items.
Sets cannot have two items with the same value.

# Creating a set

In [1]:
a={"animal","ball","cat"}
print(a)
print(type(a))

{'cat', 'ball', 'animal'}
<class 'set'>

# Set items are unordered

In [4]:
a={"animal","ball","car"}
print(a)

{'ball', 'car', 'animal'}

# Duplicates not allowed

In [5]:
a={"animal","ball","car","animal","ball","ball"}
print(a)

{'ball', 'car', 'animal'}

# True and 1 is considered as the same value

In [3]:
a={"animal","ball","car","animal","ball","ball",1,1,2,3,True}
print(a)

{1, 2, 'car', 3, 'ball', 'animal'}

# Length of a set

In [4]:
a={"animal","ball","car","animal","ball","ball",1,1,2,3,True}
print(a)
print(len(a))

{1, 2, 'car', 3, 'ball', 'animal'}
6

# SET ITEMS:-DATA TYPES

In [5]:
x1={1,2,3,4,5}
x2={1.1,3.5,6.9}
x3={"a","b","c"}
x4={True,False,True}
print(x1,x2,x3,x4)

{1, 2, 3, 4, 5} {1.1, 3.5, 6.9} {'a', 'b', 'c'} {False, True}

In [7]:
m={1,2,3,4.4,True,"apple",6,7,5+6j}
print(m)

{1, 2, 3, 4.4, 6, 7, 'apple', (5+6j)}

Another data type(list and set)cannot be inside the set

In [10]:
a={1,2,{2,3,4}}
print(a)

TypeError: unhashable type: 'set'

# Datatype tuple inside the set

In [11]:
a={1,(1,2,3,4,5)}
print(a)

{1, (1, 2, 3, 4, 5)}

# The set() constructor

In [12]:
thisset=set(("apple","banana","cherry"))
print(thisset)
print(type(thisset))

{'banana', 'apple', 'cherry'}
<class 'set'>

# Creating Empty Set

In [13]:
a={}
print(a)
print(type(a))

{}
<class 'dict'>

In [14]:
empty=set()
print(empty)
print(type(empty))

set()
<class 'set'>

# Access Items

In [16]:
a={"a","b","c","d"}
for i in a:
    print(i)

a
b
d
c

# Check if item is available in set

In [17]:
a={"data","python","code"}
print("code" in a)

True

In [18]:
a={"data","python","code"}
print("analyst" in a)

False

# Add items in a set

In [19]:
a={"a","b","c","d"}
a.add("e")
print(a)

{'d', 'b', 'c', 'e', 'a'}

In [21]:
x={"data","python","code"}
y={10,20,30,40}

x.update(y)
print(x)

{'python', 20, 30, 40, 'data', 10, 'code'}

# Remove set items

In [22]:
n={70,40,55,"python",8.9,"data",90,30}
n.remove(40)
print(n)

{70, 8.9, 'python', 55, 'data', 90, 30}

In [24]:
n={70,40,55,"python",8.9,"data",90,30}
n.remove("data")
print(n)

{70, 40, 8.9, 'python', 55, 90, 30}

# Pop function :-to randomly remove a value

In [25]:
m={70,40,55,"python",8.9,"data",90,30}
x=m.pop()
print(n)

{70, 40, 8.9, 'python', 55, 90, 30}

# Clear function

In [26]:
m={70,40,55,"python",8.9,"data",90,30}
x=m.clear()
print(n)

{70, 40, 8.9, 'python', 55, 90, 30}

# Join two sets

In [27]:
x={"a","b","c"}
y={1,2,3}
z=x.union(y)
print(z)

{1, 2, 'b', 3, 'c', 'a'}

# Write a python program to find min and max value?

In [28]:
setn={5,10,3,15,2}
print("orignal set elements")
print(setn)
print("maximum value of th set is")
print(max(setn))
print("minimum value of the set is")
print(min(setn))

orignal set elements
{2, 3, 5, 10, 15}
maximum value of th set is
15
minimum value of the set is
2

# Return a new set of identical items from two sets

In [30]:
set1={10,20,30,40,50}
set2={12,19,20,30}

print(set1.intersection(set2))

{20, 30}