# DAY9:TUPLES

# Creating a tuple

In [2]:
tuple=(1,2,3,4,5)
print(tuple)
print(type(tuple))

(1, 2, 3, 4, 5)
<class 'tuple'>

# Mixed Datatypes

In [3]:
tuple=(1,2+9j,3,"hello")
print(tuple)
print(type(tuple))

(1, (2+9j), 3, 'hello')
<class 'tuple'>

# Empty Tuple

In [4]:
tuple=()
print(tuple)
print(type(tuple))

()
<class 'tuple'>

# Nested Tuple

In [5]:
tuple=("data",[1,2,3],(8,9,10))
print(tuple)
print(type(tuple))

('data', [1, 2, 3], (8, 9, 10))
<class 'tuple'>

# Creating a tuple with only one item

In [6]:
var1=("hello")
print(var1)
print(type(var1))

hello
<class 'str'>

In [8]:
var2=("hello",)
print(var2)
print(type(var2))

('hello',)
<class 'tuple'>

# Tuple Constructor

In [11]:
a = ("a","b","c")
print(a)
print(type(a))

('a', 'b', 'c')
<class 'tuple'>

# Indexing

In [13]:
a=(23,5,67,88,12)
print(a[4])

12

In [15]:
a=(23,5,67,"data",88,12,"python")
print(a[3])

data

# Slicing

In [16]:
a=(23,5,67,88,33,56,90,11,12)
print(a[4:9])

(33, 56, 90, 11, 12)

In [17]:
a=(23,5,67,88,33,56,90,11,12)
print(a[:9])

(23, 5, 67, 88, 33, 56, 90, 11, 12)

In [19]:
a=(23,5,67,88,33,56,90,11,12)
print(a[:4])

(23, 5, 67, 88)

# Reverse

In [20]:
a=(23,5,67,88,33,56,90,11,12)
print(a[::-1])

(12, 11, 90, 56, 33, 88, 67, 5, 23)

In [21]:
a=(23,5,67,88,33,56,90,11,12)
print(a[::])
print(a[3:])
print(a[:4])
print(a[-2:-5])

(23, 5, 67, 88, 33, 56, 90, 11, 12)
(88, 33, 56, 90, 11, 12)
(23, 5, 67, 88)
()

In [22]:
a=(23,5,67,88,33,56,90,11,12)
print(a)
print(type(a))

(23, 5, 67, 88, 33, 56, 90, 11, 12)
<class 'tuple'>

In [25]:
a = (25,26,27,28)
y = list(a)
y.append(29)
a = tuple(y)
print(a)

TypeError: 'tuple' object is not callable

# Loop

In [26]:
tuple=("a","b","c")
for x in tuple:
    print(x)

a
b
c

# Joined two tuple

In [27]:
tuple1 = ("a","b","c")
tuple2 = (1,2,3)
tuple3 = tuple1+tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

# Multiply Tuple

In [28]:
a=("apple","data","python")
a=a*3
print(a)

('apple', 'data', 'python', 'apple', 'data', 'python', 'apple', 'data', 'python')

In [29]:
T=(1,2,3,4,5,6,7,8,9,10)
print(T*2)
print(T+T+T)
print(T+T)
print(len(T))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
10

# Write an input to take 5 input from the user and put it in a tuple.

In [33]:
T=()
i=0
while i<=5:
    num=int(input("Enter the values:"))
    T = T + (num,)
    i = i+1
    print(T)

Enter the values:10
(10,)
Enter the values:11
(10, 11)
Enter the values:12
(10, 11, 12)
Enter the values:13
(10, 11, 12, 13)
Enter the values:14
(10, 11, 12, 13, 14)
Enter the values:15
(10, 11, 12, 13, 14, 15)