# DAY5:CONCEPT OF LOOP

# WHILE LOOP

----------Program to display number 1 to 5-------

In [4]:
i=1
n=5
while i<=n:
    print(i)
    i=i+1

1
2
3
4
5

--------Enter the value from the user and write its multiplication table------------

In [6]:
i=1
n=int(input("Enter a number:-"))
while i<=10:
    print(n,"x",i,"=",n*i)
    i=i+1

Enter a number:-5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# Infinite Loop

In [2]:
count=0
while(count<10):
    count=count+1
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [1]:
print("hello")

hello

# USING ELSE IN WHILE LOOP

In [3]:
count=0
while(count<10):
    count=count+1
    print("hello")
else:
    print("This is an else block")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
This is an else block

# FOR LOOP

In [4]:
fruits=["apple","mango","cherry"]
for x in fruits:
    print(x)

apple
mango
cherry

# Looping through a string

In [6]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [9]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [10]:
for x in range(5,10):
    print(x)

5
6
7
8
9