# DAY 8:List in Python

In [1]:
mylist=["apple","banana","cherry"]
print(mylist)
print(type(mylist))

['apple', 'banana', 'cherry']
<class 'list'>

# Allow duplicates

In [2]:
mylist=["apple","banana","cherry","apple","banana","apple"]
print(mylist)

['apple', 'banana', 'cherry', 'apple', 'banana', 'apple']

# Data Types in List

In [4]:
list1=["apple","banana","cherry"]
list2=[2,7,9,0]
list3=[2.6,7.8,9.0,8.88]
list4=[True,False]
print(list1)
print(list2)
print(list3)
print(list4)

['apple', 'banana', 'cherry']
[2, 7, 9, 0]
[2.6, 7.8, 9.0, 8.88]
[True, False]

In [6]:
a=[12,8.9,"apple",0,9.00,True,"cherry",9,"banana",False]
print(a)

[12, 8.9, 'apple', 0, 9.0, True, 'cherry', 9, 'banana', False]

# List Length

In [7]:
a=[12,8.9,"apple",0,9.00,True,"cherry",9,"banana",False]
print(len(a))

10

# Access Items

In [8]:
a=[12,8.9,"apple",0,9.00,True,"cherry",9,"banana",False]
print(a[1])

8.9

In [11]:
a=[12,8.9,"apple",0,9.00,True,"cherry",9,"banana",False]
print(a[6])

cherry

In [12]:
a=[12,8.9,"apple",0,9.00,True,"cherry",9,"banana",False]
print(a[1:4])

[8.9, 'apple', 0]

In [13]:
a=[12,8.9,"apple",0,9.00,True,"cherry",9,"banana",False]
print(a[1:7:2])

[8.9, 0, True]

# Change Items

In [15]:
list1=["apple","banana","cherry"]
list1[1]="watermelon"
print(list1)

['apple', 'watermelon', 'cherry']

In [16]:
list1=["apple","banana","cherry"]
list1[1]="1"
print(list1)

['apple', '1', 'cherry']

# Change a range in item of values

In [17]:
list2=[2,7,9,0]
list2[1:3]=[10,11]
print(list2)

[2, 10, 11, 0]

# Adding item in list

In [18]:
list2=[2,7,9,0]
list2.append(10)
print(list2)

[2, 7, 9, 0, 10]

# Deleting item in a list

In [20]:
list2=[2,17,98,0,8,11,6,34,87,45,22,12]
list2.remove(17)
print(list2)

[2, 98, 0, 8, 11, 6, 34, 87, 45, 22, 12]

In [21]:
list1=["apple","banana","cherry"]
list1.remove("apple")
print(list1)

['banana', 'cherry']

In [23]:
list2=[2,17,98,0,8,"data",11,6,34,87,45,22,12,"python"]
list2.reverse()
print(list2)

['python', 12, 22, 45, 87, 34, 6, 11, 'data', 8, 0, 98, 17, 2]

# Adding all numbers in a list

In [27]:
l=[14,15,12,78,-9,23,-8,52,74,89,25,102,8]
print("List is",l)
a=0
for i in range(len(l)):
    a=a+l[i];
    i=i+1
print("sum of list is", a)

List is [14, 15, 12, 78, -9, 23, -8, 52, 74, 89, 25, 102, 8]
sum of list is 475

# Multiplying all number in a list

In [32]:
l=[1,2,3,4,5,6,7,8,9,10]
print("List is",l)
a=1
for i in range(len(l)):
    a=a*l[i];
    i=i+1
print("sum of list is", a)

List is [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum of list is 3628800